<footer id="footer">
  <div class="footer__wrapper">
    <div class="footer-address">
      <p>ART GALLERY</p>
      <p>〒154-0000 東京都世田谷区北沢1-1-1 RIVER SIDE PARK</p>
      <p>Tel: 03-0000-0000</p>
      <p>E-mail: info@xxxxxxx.jp</p>
    </div>
    <div class="footer-info">
      <ul class="sns">
        <li>Twitter</li>
        <li>Instagram</li>
        <li>Facebook</li>
      </ul>
      <div class="privacy-policy">
        <a href="#">PRIVACY POLICY</a>
        <p>&copy; ART gallery</p>
      </div>
    </div>
  </div>
</footer>